<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.mapper.ShopMapper">
    <resultMap id="map" type="test.po.AdressPO">
        <id column="address_id" property="addressId"/>
        <result column="province_code" property="provinceCode"/>
        <result column="city_code" property="cityCode"/>
        <result column="region_code" property="regionCode"/>
        <result column="address_name" property="addressName"/>
        <result column="address_name_chiper" property="addressNameChiper"/>
        <result column="address_name_plain" property="addressNamePlain"/>
    </resultMap>
    <insert id="insert">
        insert into eshop_address(address_id,user_id,address_name,country_code,phone,province_code,city_code,region_code,detail,create_user_id,create_time,modify_user_id,modify_time)
        values
        <foreach collection="list" separator="," item="item">
            (#{item.addressId}, #{item.userId}, #{item.addressName}, #{item.countryCode}, #{item.phone},
            #{item.provinceCode}, #{item.cityCode}, #{item.regionCode}, #{item.detail}, #{item.createUserId}, #{item.createTime}, #{item.modifyUserId},
            #{item.modifyTime})
        </foreach>
    </insert>
    <select id="find" resultMap="map">
        select a.address_id,a.user_id,a.address_name,
        a.country_code,
        a.phone,a.province_code,
        a.city_code,
        a.region_code,
        a.detail,a.create_user_id,a.create_time,a.modify_user_id,a.modify_time
        from eshop_address a
        where  a.city_code=#{cityCode}
        <if test="regionCode!=null">
            and a.region_code=#{regionCode}
        </if>
    </select>
</mapper>
